body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nav-bar {
  box-sizing: border-box;
  height: 3rem;
  font-size: 2rem;
  background-color: teal;
  display: flex;
  align-items: center;
  justify-content: center;
}

#count-box {
  height: 2rem;
  width: 2rem;
  border-radius: 2px;
  margin-left: 1rem;
  background-color: tomato;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
