body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: bisque;
}

button {
  cursor: pointer;
  border: none;
}

button:hover {
  opacity: 0.8;
}

span {
  cursor: pointer;
}

span:hover {
  opacity: 0.8;
  font-size: 2.1rem;
}

#nav-bar {
  box-sizing: border-box;
  height: 3rem;
  font-size: 2rem;
  background-color: teal;
  display: flex;
  align-items: center;
  justify-content: center;
}

#count-box {
  height: 2rem;
  width: 2rem;
  border-radius: 2px;
  margin-left: 1rem;
  background-color: tomato;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#input-form {
  height: 2rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#habit-input {
  height: 2.5rem;
  font-size: 2rem;
  border: none;
  background-color: tomato;
  border-radius: 2px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#habit-input::placeholder {
  color: white;
}

#input-button {
  height: 2rem;
  margin-left: 1rem;
  border-radius: 3px;
  font-weight: bold;
  color: white;
  background-color: rgb(255, 196, 47);
}

#habit-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.habit {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.habit-button {
  height: 2rem;
  margin-left: 0.5rem;
  font-size: 1.5rem;
  background-color: transparent;
}

.edit-habit-input {
  height: 2rem;
  font-size: 1.5rem;
  color: grey;
}

#reset-button {
  height: 2rem;
  margin-left: 35.5rem;
  border-radius: 3px;
  font-weight: bold;
  color: white;
  background-color: rgb(255, 196, 47);
}
